body{
    
    background: url("../images/289-2892325_bookshelf-background-clipart.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

form span, form label, th{
    color: burlywood;
}

.card {

    background-color: #49868C;
}

.active {
    font-size:18px;
}


.collapsible-header, table {

    background-color: #49868C;
}


.readingList{
    background-color: #49868C;
    height: 200px;
    overflow: scroll; 
    overflow-x: hidden;

}

/*obtained from slack overflow */
::-webkit-scrollbar {
    border: 2px solid white;
    background: transparent;  /* Optional: just make scrollbar invisible */
}

/* obtained from w3 schools */
::-webkit-scrollbar-thumb {
    background: white; 
  }


.card-title {

    color: white;
    font-weight: bold;
    font-family: serif;
    text-align: center;

}
span {
    color: white;
    font-family: serif;
    font-size: 20px;
}
h1 {
    text-shadow: 3px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    
}


.form-button{
    background-color: burlywood;
    border: 5px double #6D4C41;
    border-radius: 15px;
    font-weight: bold;
    font-size: large;
    padding: 5px;
    margin: 3px 4px 0 0;
    cursor: pointer;
}

.form-group{
    margin: 0 0 15px 0; 
}

.vertical-align{
    display: inline;
}

#page-heading {

    text-align: center;
    font-weight: bold;
    color: #f99603;
    
}

#reset-btn{
    position: relative;
    left: 30%;
    top: 50px;
}


#reset-btn:hover{
    font-size: 25px;
    color: whitesmoke;
    box-shadow: 5px 10px black;
}

#submit-btn:hover{
    font-size: 25px;
    color: whitesmoke;
    box-shadow: 5px 10px black;
}

#submit-btn{
    position: relative;
    left: 30%;
    top: 50px;
}

h4 {
    font-weight: bold;
    text-align: center;
}

#tagline {

    text-align: center;
    color: #f99603;
      
}

.material-icons {
    color: white;
}
.bestSellersImg {

    margin: 25px;
    cursor: pointer;

}


#best-sellers-container {

    text-align: center;
}
#results-container{
    height: 280px;
    overflow: auto;
}

.white-text {
    height: 400px;
}

.SearchImage{
    margin-left: 35%;
   
}

p{
    text-align: center;
    color: white;
    font-style: italic;
}